<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FileManagerSystem_1</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
    <welcome-file>main.htm</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileManagerSystem</display-name>
    <servlet-name>FileManagerSystem</servlet-name>
    <servlet-class>com.huanke.FileManagerSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileManagerSystem</servlet-name>
    <url-pattern>/FileManagerSystem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sql_connection</display-name>
    <servlet-name>sql_connection</servlet-name>
    <servlet-class>com.huanke.sql.sql_connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sql_connection</servlet-name>
    <url-pattern>/sql_connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.huanke.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.huanke.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadDoc</display-name>
    <servlet-name>UploadDoc</servlet-name>
    <servlet-class>com.huanke.UploadDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDoc</servlet-name>
    <url-pattern>/UploadDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.huanke.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Query</display-name>
    <servlet-name>Query</servlet-name>
    <servlet-class>com.huanke.Query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Query</url-pattern>
  </servlet-mapping>
</web-app>