<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FileManagerSystem_1</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
    <welcome-file>main.htm</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileManagerSystem</display-name>
    <servlet-name>FileManagerSystem</servlet-name>
    <servlet-class>com.huanke.controller.FileManagerSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileManagerSystem</servlet-name>
    <url-pattern>/FileManagerSystem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.huanke.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.huanke.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.huanke.controller.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryDocument</display-name>
    <servlet-name>QueryDocument</servlet-name>
    <servlet-class>com.huanke.controller.QueryDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDocument</servlet-name>
    <url-pattern>/QueryDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDocument</display-name>
    <servlet-name>DeleteDocument</servlet-name>
    <servlet-class>com.huanke.controller.DeleteDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDocument</servlet-name>
    <url-pattern>/DeleteDocument</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SystemFilter</display-name>
    <filter-name>SystemFilter</filter-name>
    <filter-class>com.huanke.filter.SystemFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SystemFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
</web-app>